<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.StudentLearningBehaviorMapper">
    
    <resultMap type="StudentLearningBehavior" id="StudentLearningBehaviorResult">
        <result property="id"    column="id"    />
        <result property="studentUserId"    column="student_user_id"    />
        <result property="courseId"    column="course_id"    />
        <result property="behaviorType"    column="behavior_type"    />
        <result property="targetId"    column="target_id"    />
        <result property="targetType"    column="target_type"    />
        <result property="duration"    column="duration"    />
        <result property="count"    column="count"    />
        <result property="detail"    column="detail"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isDeleted"    column="is_deleted"    />
    </resultMap>

    <sql id="selectStudentLearningBehaviorVo">
        select id, student_user_id, course_id, behavior_type, target_id, target_type, duration, count, detail, create_time, update_time, is_deleted from student_learning_behavior
    </sql>

    <select id="selectStudentLearningBehaviorList" parameterType="StudentLearningBehavior" resultMap="StudentLearningBehaviorResult">
        <include refid="selectStudentLearningBehaviorVo"/>
        <where>  
            <if test="studentUserId != null "> and student_user_id = #{studentUserId}</if>
            <if test="courseId != null "> and course_id = #{courseId}</if>
            <if test="behaviorType != null  and behaviorType != ''"> and behavior_type = #{behaviorType}</if>
            <if test="targetId != null "> and target_id = #{targetId}</if>
            <if test="targetType != null  and targetType != ''"> and target_type = #{targetType}</if>
            <if test="duration != null "> and duration = #{duration}</if>
            <if test="count != null "> and count = #{count}</if>
            <if test="detail != null  and detail != ''"> and detail = #{detail}</if>
            <if test="isDeleted != null "> and is_deleted = #{isDeleted}</if>
        </where>
    </select>
    
    <select id="selectStudentLearningBehaviorById" parameterType="Long" resultMap="StudentLearningBehaviorResult">
        <include refid="selectStudentLearningBehaviorVo"/>
        where id = #{id}
    </select>

    <insert id="insertStudentLearningBehavior" parameterType="StudentLearningBehavior" useGeneratedKeys="true" keyProperty="id">
        insert into student_learning_behavior
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="studentUserId != null">student_user_id,</if>
            <if test="courseId != null">course_id,</if>
            <if test="behaviorType != null and behaviorType != ''">behavior_type,</if>
            <if test="targetId != null">target_id,</if>
            <if test="targetType != null and targetType != ''">target_type,</if>
            <if test="duration != null">duration,</if>
            <if test="count != null">count,</if>
            <if test="detail != null">detail,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isDeleted != null">is_deleted,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="studentUserId != null">#{studentUserId},</if>
            <if test="courseId != null">#{courseId},</if>
            <if test="behaviorType != null and behaviorType != ''">#{behaviorType},</if>
            <if test="targetId != null">#{targetId},</if>
            <if test="targetType != null and targetType != ''">#{targetType},</if>
            <if test="duration != null">#{duration},</if>
            <if test="count != null">#{count},</if>
            <if test="detail != null">#{detail},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
         </trim>
    </insert>

    <update id="updateStudentLearningBehavior" parameterType="StudentLearningBehavior">
        update student_learning_behavior
        <trim prefix="SET" suffixOverrides=",">
            <if test="studentUserId != null">student_user_id = #{studentUserId},</if>
            <if test="courseId != null">course_id = #{courseId},</if>
            <if test="behaviorType != null and behaviorType != ''">behavior_type = #{behaviorType},</if>
            <if test="targetId != null">target_id = #{targetId},</if>
            <if test="targetType != null and targetType != ''">target_type = #{targetType},</if>
            <if test="duration != null">duration = #{duration},</if>
            <if test="count != null">count = #{count},</if>
            <if test="detail != null">detail = #{detail},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStudentLearningBehaviorById" parameterType="Long">
        delete from student_learning_behavior where id = #{id}
    </delete>

    <delete id="deleteStudentLearningBehaviorByIds" parameterType="String">
        delete from student_learning_behavior where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>